/*main page*/

.artspace {
  background-color: #FFF9F5;
  min-height: 100vh;
  padding: 30px;
  font-family: Arial, sans-serif;
}

/*gallery heading*/
.gallery-header{
  text-align: center;
  margin-bottom: 30px;
}

.gallery-header h1 {
  color: #494259;
  font-size: 40px;
}

.gallery header p {
  color: #746B80;
}